<p><%= notice %></p>
<div class="container">
  <div class="row">
     <%= render 'form', book: @book, user: @user %>

     <div class="col-md-8 offset-md-1">
       <h2>Book Detail</h2>
       <table class="table">
         <tbody>
           <tr>

             <td>
               <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image %></br>
                <%= @user.name %>
               <% end %>
             </td>
             <td>
                 <%= link_to @book.title, book_path %>
            </td>
             <td><%= @book.body %></td>
             <td>
              <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success btn-sm" %>
              <% end %>
             </td>
             <td>
              <% if @book.user == current_user %>
               <%= link_to "Destroy", book_path(@book.id), class:"btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %>
              <% end %>
             </td>
           </tr>
         </tbody>
       </table>
     </div>
  </div>
</div>