<div class="container">
  <div class="row">
     <%= render 'form', books: @books %>

     <div class="col-md-8 offset-md-1">
       <h2>Book Detail</h2>
       <table class="table">
         <tbody>
           <tr>

             <td>
               <%= link_to user_path(@user.id) do %>
                <%= image_tag book.user.get_profile_image %>
               <% end %>
             </td>
             <td><%= book.title %></td>
             <td><%= book.body %></td>
             <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success btn-sm" %></td>
             <td><%= link_to "Destroy", destroy_book_path(@book.id), class:"btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
           </tr>
         </tbody>
       </table>
     </div>
  </div>a
</div>